<div class="legal-page"><h1 class="legal-title">Addresses</h1></div>

{% schema %}
{
  "name": "Customers addresses",
  "settings": [],
  "presets": [
    {
      "name": "Customers addresses"
    }
  ]
}
{% endschema %}
