<div class="collection-head"><h1 class="collection-title">Collections</h1></div>
<div class="product-grid">
{% for collection in collections %}
  <a href="{{ collection.url }}" class="product-card">
    <div class="product-image primary">{% if collection.featured_image %}<img src="{{ collection.featured_image | image_url: width: 800 }}" alt="{{ collection.title | escape }}" width="600">{% endif %}</div>
    <div class="product-card-info"><span class="product-card-name">{{ collection.title }}</span></div>
  </a>
{% endfor %}
</div>

{% schema %}
{
  "name": "List collections",
  "settings": [],
  "presets": [
    {
      "name": "List collections"
    }
  ]
}
{% endschema %}
