<div class="legal-page"><h1 class="legal-title">Reset password</h1>{% form "reset_customer_password" %}<input type="password" name="customer[password]"><button>Reset</button>{% endform %}</div>

{% schema %}
{
  "name": "Customers reset_password",
  "settings": [],
  "presets": [
    {
      "name": "Customers reset_password"
    }
  ]
}
{% endschema %}
