<div class="legal-page"><h1 class="legal-title">Create account</h1>{% form "create_customer" %}<input name="customer[first_name]"><input name="customer[last_name]"><input type="email" name="customer[email]"><input type="password" name="customer[password]"><button>Create</button>{% endform %}</div>

{% schema %}
{
  "name": "Customers register",
  "settings": [],
  "presets": [
    {
      "name": "Customers register"
    }
  ]
}
{% endschema %}
