<div class="legal-page"><h1 class="legal-title">Activate account</h1>{% form "activate_customer_password" %}<input type="password" name="customer[password]"><button>Activate</button>{% endform %}</div>

{% schema %}
{
  "name": "Customers activate_account",
  "settings": [],
  "presets": [
    {
      "name": "Customers activate_account"
    }
  ]
}
{% endschema %}
