<div class="legal-page"><h1 class="legal-title">Login</h1>{% form "customer_login" %}<input type="email" name="customer[email]"><input type="password" name="customer[password]"><button>Sign in</button>{% endform %}</div>

{% schema %}
{
  "name": "Customers login",
  "settings": [],
  "presets": [
    {
      "name": "Customers login"
    }
  ]
}
{% endschema %}
