<div class="legal-page"><h1 class="legal-title">Order {{ order.name }}</h1></div>

{% schema %}
{
  "name": "Customers order",
  "settings": [],
  "presets": [
    {
      "name": "Customers order"
    }
  ]
}
{% endschema %}
