<div class="legal-page"><h1 class="legal-title">{{ article.title }}</h1><div class="legal-body rte">{{ article.content }}</div></div>

{% schema %}
{
  "name": "Article",
  "settings": [],
  "presets": [
    {
      "name": "Article"
    }
  ]
}
{% endschema %}
