<div class="legal-page"><h1 class="legal-title">{{ shop.name }}</h1><p>Opening soon.</p>{% form "storefront_password" %}<input type="password" name="password" placeholder="Password"><button>Enter</button>{% endform %}</div>

{% schema %}
{
  "name": "Password",
  "settings": [],
  "presets": [
    {
      "name": "Password"
    }
  ]
}
{% endschema %}
